<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <p class="help">{{helpMessage}}</p>
    <br *ngIf="!helpMessage">
    <p>
      <label for="username">username </label>
      <input
        type="text"
        id="username"
        name="username"
        formControlName="username"
      />
      <span class="error-msg" *ngIf="username?.errors?.required">username required.</span>
      <span class="error-msg" *ngIf="username?.errors?.minlength">too short.</span>
    </p>
    <p>
      <label for="username">password </label>
      <input
        type="password"
        id="password"
        name="password"
        formControlName="password"
      />
      <span class="error-msg" *ngIf="password?.errors?.required">password required.</span>
      <span class="error-msg" *ngIf="password?.errors?.minlength">too short.</span>
    </p>
    <input
      type="submit"
      class="btn"
      [disabled]="loginForm.invalid"
      value="Submit"
    />
  </form>
  <button (click)="forgotPassword()">Forgot Password</button>
  