hr {
    border: none;
    height: 1px;
    background-color: #e0e0e0;
}

.wrapper {
    width: 100%;
}

.col-1 {
    margin: 5px;
    padding: 5px;
    border: 1px solid #444;
    background-color: rgb(223, 223, 223);
}
.col-2 {
    margin: 5px;
    padding: 5px;
    border: 1px solid #444;
    background-color: rgb(235, 235, 235);
}

.bkg-green {
    background-color: rgb(186, 223, 186);
}