<div class="wrapper">
    <h2>.choose an item</h2>
    <mat-form-field appearance="fill">
        <mat-select (selectionChange)="chooseFinalItem($event)">
            <mat-option *ngFor="let finalItem of finalItems" [value]="finalItem">{{finalItem.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <div *ngIf="chosenItem">
        
        <h2>.stats</h2>
        <div class="stat-box">
            <p> {{chosenItem.name}} </p>
            <p> {{chosenItem.discipline || 'no disc.'}} </p>
            <p> {{chosenItem.description || 'no desc.'}} </p>
            <p> lvl. {{chosenItem.level}} </p>
        </div>
        
        <h2>.ingredients</h2>
        <div class="stat-box ingredients-map">
            <div class="map-row" *ngFor="let ingred of rawComponentsOfFinalItem | keyvalue">
                <span>{{ingred.key}}</span>
                <span>{{ingred.value}}</span>
            </div>
        </div>
        
        <h2>.crafting map</h2>
        <app-network-node [level]="1" [chosenMaterial]="chosenItem"></app-network-node>

    </div>
</div>