<div class="wrapper">
    <h1>raw (harvestable) materials</h1>
    <div class="raw-materials">
        <div class="raw-material" *ngFor="let rawMaterial of rawMaterials">
            <span style="font-size: 10px; color: grey;">{{rawMaterial._id}}</span>
            <b>{{rawMaterial.name}}</b>
            <span>lvl. {{rawMaterial.level}}</span>

            <div class="button-row">
                <button class="chip-button" (click)="edit(rawMaterial)">Edit</button>
                <button class="chip-button" (click)="delete(rawMaterial._id)">Delete</button>
            </div>
        </div>

        <div class="raw-material bkg-green">
            <button (click)="addRawMaterial()">Add Raw Material</button>
        </div>
    </div>
</div>