.wrapper {
    //margin: 5%;
}

.raw-materials {
    display: grid;
    
grid-template-columns: repeat(8, auto);

    .raw-material {
        width: 100px;
        height: 100px;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid black;
    }
}