<div class="title">
    <p>{{data.frame}}</p>
    <p (click)="close()">❌</p>
</div>
<form class="form" [formGroup]="addFinalItemForm">
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Discipline</mat-label>
        <mat-select formControlName="discipline">
            <mat-option *ngFor="let disc of disciplines" [value]="disc">{{disc}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description">
    </mat-form-field>

    <p>Blueprint</p>
    <div class="blueprint">
        <div *ngFor="let ingredient of blueprint.recipe; let i = index" style="display: flex; flex-direction: row;">
            <input type="text"
                placeholder="Pick one"
                aria-label="Number"
                matInput
                [matAutocomplete]="auto"
                [value]="blueprint.recipe[i].name"
            >
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="changeIngredientName(i, $event)">
                <mat-option *ngFor="let componentMaterial of componentMaterials" [value]="componentMaterial">{{componentMaterial.name}}</mat-option>
            </mat-autocomplete>

            <mat-select (selectionChange)="changeIngredientCount(i, $event)">
                <mat-option *ngFor="let number of numbers; let i = index" [value]="i">{{i}}</mat-option>
            </mat-select>

        </div>
        <div>
            <button (click)="addIngredient()">Add Ingredient</button>
        </div>
    </div>    

    <button (click)="submitForm()">Submit</button>
</form>