<p>{{data.frame}}</p>
<form class="form" [formGroup]="addRawMaterialForm">
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Level</mat-label>
        <input type="number" matInput formControlName="level">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Discipline</mat-label>
        <mat-select formControlName="discipline">
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
        </mat-select>
    </mat-form-field>
    <button (click)="submitForm()">Submit</button>
</form>